.form1{
    padding: 0 23.3%;
    /* margin-top: 10%; */
    margin-bottom: 2%;
    
}

@media screen and (max-width: 768px) {
    .form1{
        padding: 0 5%;
        /* margin-top: 33.3%; */
        /* margin-bottom: 33.3%; */
    }
}